@media only screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
    position: absolute !important;
    left: -99999 !important;
    top: -99999 !important;
    visibility: hidden;
  }
}
@media only screen and (min-width: 1025px) {
  .mobile-only {
    display: none !important;
    position: absolute !important;
    left: -99999 !important;
    top: -99999 !important;
    visibility: hidden;
  }
}
.what-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .what-block {
    margin-bottom: 68px;
  }
}
.what-block__header {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #00ffa7;
}
.what-block__header-new {
  cursor: pointer;
}
.what-block__header-new:hover {
  text-decoration: underline;
}
.what-block__header svg {
  position: relative;
  top: 5px;
  margin-right: 8px;
}
@media only screen and (max-width: 1024px) {
  .what-block__header {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
.what-block .new-predictions {
  margin-top: 24px;
}
.what-block__hot {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 1025px) {
  .what-block__hot {
    padding-right: 23px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-right: 1px solid hsla(0, 0%, 100%, 0.14);
  }
}
@media only screen and (max-width: 1024px) {
  .what-block__hot {
    margin-bottom: 32px;
    position: relative;
  }
  .what-block__hot:after {
    content: '';
    position: absolute;
    background: hsla(0, 0%, 100%, 0.14);
    height: 1px;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    bottom: -16px;
  }
}
.what-block__toggle {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .what-block__toggle {
    margin: 20px auto 44px;
    display: block;
  }
  .what-block__toggle .toogle-page {
    margin: 0;
  }
}
.what-block__new {
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .what-block__new {
    margin-left: 24px;
    width: 23.5%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.what-block:after {
  content: '';
  position: absolute;
  background: hsla(0, 0%, 100%, 0.14);
  height: 1px;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .what-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .what-block:after {
    display: none;
  }
}
.big-slide {
  position: relative;
  float: left;
  width: 65.7%;
  margin-right: 2.8%;
  margin-bottom: 48px;
}
@media only screen and (max-width: 1024px) {
  .big-slide {
    float: none;
    width: 80%;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .big-slide .year-town-block__city,
  .big-slide .year-town-block__point {
    display: none;
  }
}
.big-slide .artwork-small-info__header,
.big-slide .cart-only-prediction__header {
  font-size: 32px;
}
@media only screen and (max-width: 1024px) {
  .big-slide .artwork-small-info__header,
  .big-slide .cart-only-prediction__header {
    font-size: 20px;
  }
}
.big-slide:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.small-slide {
  float: left;
  width: 31.5%;
  margin-bottom: 2.8%;
}
.small-slide .cart-only-prediction__header {
  font-size: 20px;
}
.small-slide:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.small-slide .cart-only-prediction__description {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .small-slide {
    float: none;
    width: 80%;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .small-slide:last-child {
    margin-right: 0;
  }
}
.slider-block {
  position: relative;
  background-color: rgba(0, 255, 167, 0.03);
  width: 100%;
  min-height: 480px;
  margin-top: 80px;
  margin-bottom: 56px;
}
@media only screen and (max-width: 1024px) {
  .slider-block {
    background-color: rgba(0, 255, 167, 0.2);
    height: auto;
    margin: 0 -15px 24px;
    width: auto;
    padding-bottom: 32px;
  }
}
.slider-block__wrap {
  margin: 0 64px;
  height: 100%;
  text-align: center;
  padding-top: 56px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.slider-block__wrap:after {
  content: '';
  position: absolute;
  background: hsla(0, 0%, 100%, 0.14);
  height: 1px;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .slider-block__wrap {
    padding-top: 32px;
    margin: 0 19px;
  }
  .slider-block__wrap:after {
    display: none;
  }
}
.slider-block--reverse .slider-block__wrap:after {
  content: '';
  top: 0;
  bottom: none;
}
.slider-block__name {
  text-transform: uppercase;
  color: #00ffa7;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 44px;
}
@media only screen and (max-width: 1024px) {
  .slider-block__name {
    margin-bottom: 24px;
  }
}
.slider-block:before {
  content: '';
  position: absolute;
  bottom: 0;
  top: -20px;
  left: 32px;
  right: 32px;
  background-color: rgba(0, 255, 167, 0.06);
  z-index: -1;
}
@media only screen and (max-width: 1024px) {
  .slider-block:before {
    display: none;
  }
}
.slider-block:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 64px;
  right: 64px;
  top: -40px;
  z-index: -1;
  background: rgba(0, 255, 167, 0.1);
}
@media only screen and (max-width: 1024px) {
  .slider-block:after {
    display: none;
  }
}
.slider-block .swiper-container {
  margin-bottom: 48px;
}
@media only screen and (max-width: 1024px) {
  .slider-block .swiper-container {
    margin-bottom: 32px;
  }
}
.slider-block .swiper-pagination {
  position: static;
  width: 100%;
}
.slider-block .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: rgba(0, 255, 167, 0.3);
  margin-right: 8px;
  opacity: 1;
}
.slider-block .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.slider-block .swiper-pagination .swiper-pagination-bullet-active {
  background: #00ffa7;
}
.slider-block--reverse {
  margin-top: 0;
  margin-bottom: 120px;
  height: 420px;
}
@media only screen and (max-width: 1024px) {
  .slider-block--reverse {
    height: auto;
    margin-bottom: 24px;
  }
}
.slider-block--reverse:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: -20px;
  left: 32px;
  right: 32px;
  background-color: rgba(0, 255, 167, 0.06);
}
.slider-block--reverse:after {
  content: '';
  position: absolute;
  top: 0;
  left: 64px;
  right: 64px;
  bottom: -40px;
  background: rgba(0, 255, 167, 0.1);
}
.slide-prediction {
  display: block;
  max-width: 490px;
  margin: 0 auto;
  font-weight: 900;
}
.slide-prediction__top {
  margin-bottom: 15px;
}
@media only screen and (max-width: 1024px) {
  .slide-prediction__top {
    margin-bottom: 8px;
  }
}
.slide-prediction__header {
  font-size: 40px;
  margin-bottom: 8px;
  max-height: 100px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .slide-prediction__header {
    font-size: 20px;
  }
}
.slide-prediction__description {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 1.43;
  max-height: 98px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .slide-prediction__description {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
.slide-prediction__author {
  font-size: 11px;
  color: hsla(0, 0%, 100%, 0.3);
  text-transform: uppercase;
}
.grid-block {
  margin-bottom: 75px;
}
@media only screen and (max-width: 1024px) {
  .grid-block {
    margin-bottom: 40px;
  }
}
.grid-block__label {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #00ffa7;
  line-height: 1.57;
  margin-bottom: 16px;
  fill: #00ffa7;
}
.grid-block__label svg {
  position: relative;
  top: 2px;
}
@media only screen and (min-width: 1025px) {
  .grid-block__label {
    display: none;
  }
}
.grid-block__select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
@media only screen and (min-width: 1025px) {
  .grid-block__select {
    display: none;
  }
}
.grid-block__header {
  font-size: 32px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 1024px) {
  .grid-block__header {
    font-size: 24px;
  }
}
.grid-block__filter {
  font-size: 14px;
  color: rgba(0, 255, 167, 0.3);
  font-weight: 900;
  line-height: 1.57;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media only screen and (max-width: 1024px) {
  .grid-block__filter {
    display: none;
  }
}
.grid-block__filter-item {
  display: inline-block;
  margin-right: 10px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.grid-block__filter-item:hover {
  color: #00ffa7;
  cursor: pointer;
}
.grid-block__filter-item:last-child {
  margin-right: 0;
}
.grid-block__filter-item--active {
  color: #00ffa7;
}
.grid-block__link {
  display: inline;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 900;
  color: #00ffa7;
}
.grid-block__link--center {
  text-align: center;
}
.grid-block__link svg {
  fill: #00ffa7;
  position: relative;
  bottom: -3px;
}
.grid-block__link:hover .grid-block__link-text {
  border-bottom: 1px solid #00ffa7;
}
.grid-block__list {
  position: relative;
}
@media only screen and (min-width: 1025px) {
  .grid-block__list {
    display: block;
    margin: 0 -24px 51px;
  }
  @supports (display: grid) {
    .grid-block__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px 48px;
      margin: 0 0 51px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .grid-block__list {
    width: 100%;
    margin: 0 0 51px;
  }
}
.grid-block__list:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.grid-block__item {
  width: 100%;
}
.grid-block__item > div {
  display: inline-block;
}
@media only screen and (max-width: 1024px) {
  .grid-block__item > div {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .grid-block__item {
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 24px;
    margin-top: 32px;
    min-height: 115px;
    float: left;
  }
  .grid-block__item:nth-child(-n + 4) {
    margin-top: 0;
  }
  @supports (display: grid) {
    .grid-block__item {
      width: 100%;
      padding: 0;
      margin: 0;
      min-height: 0;
      float: none;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .grid-block__item {
    margin-top: 0;
    padding: 0;
    width: 100%;
    min-height: 0;
    margin-bottom: 32px;
    float: none;
  }
  .grid-block__item:not(:nth-child(-n + 4)) {
    display: none;
  }
}
@supports (display: grid) {
  .grid-block__item--big {
    -ms-grid-row-span: 2;
    grid-row: span 2 / auto;
  }
}
.grid-block__item:nth-child(2):before,
.grid-block__item:nth-child(3):before,
.grid-block__item:nth-child(4):before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: hsla(0, 0%, 100%, 0.14);
  margin-left: -24px;
}
.list-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0 85px 58px;
}
@media only screen and (max-width: 1024px) {
  .list-user {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 25px;
  }
}
.list-user__header {
  margin-bottom: 56px;
}
@media only screen and (max-width: 1024px) {
  .list-user__header {
    margin-bottom: 32px;
  }
}
.list-user__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (min-width: 1025px) {
  .list-user__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
  }
}
@media only screen and (max-width: 1024px) {
  .list-user__item {
    width: 50%;
    margin-bottom: 24px;
  }
  .list-user__item:last-child {
    display: none;
  }
}
.list-user__item:hover .list-user__item-name {
  color: #00ffa7;
}
.list-user__item-image {
  width: 97px;
  height: 97px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}
.list-user__item-image img {
  width: 100%;
  height: 100%;
}
.list-user__item-name {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 12px;
}
.list-user__item-like {
  font-weight: 700;
  font-size: 14px;
  fill: #fff;
}
.list-user__item-like svg {
  position: relative;
  bottom: -2px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #00ffa7;
  background-color: rgba(0, 255, 167, 0.1);
  outline: none;
  background-size: 28px 28px;
}
@media only screen and (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
.swiper-button-prev {
  left: 24px;
}
.swiper-button-next {
  right: 24px;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .swiper-wrapper-mobile {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property:
      transform,
      -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
}
@media only screen and (max-width: 1024px) {
  .swiper-container-mobile {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin: 0 -16px;
  }
  .swiper-container-mobile .swiper-slide {
    margin: 0;
    padding-left: 16px;
  }
  .swiper-container-mobile .swiper-slide:last-child {
    padding-right: 16px;
  }
  .swiper-container-mobile .swiper-slide:last-child .artwork-cart {
    right: 16px;
  }
  .swiper-container-mobile .swiper-slide .artwork-cart {
    right: 0;
    left: 16px;
    width: auto;
  }
}
.extra-filter-active {
  position: relative;
}
.extra-filter-active:after {
  content: '';
  background: hsla(0, 0%, 100%, 0.14);
  display: block;
  position: absolute;
  top: -16px;
  width: 100%;
  height: 1px;
}
@media only screen and (max-width: 1024px) {
  .extra-filter-active:after {
    display: none;
  }
}
.break-point {
  -webkit-column-break-after: column;
  break-after: column;
}
/*# sourceMappingURL=feed.css.map*/
