@media only screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
    position: absolute !important;
    left: -99999 !important;
    top: -99999 !important;
    visibility: hidden;
  }
}
@media only screen and (min-width: 1025px) {
  .mobile-only {
    display: none !important;
    position: absolute !important;
    left: -99999 !important;
    top: -99999 !important;
    visibility: hidden;
  }
}
.brief__preloder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.brief__preloder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-45%, -58%);
  transform: translate(-45%, -58%);
  font-size: 13px;
  font-weight: 500;
  color: #00ffa7;
}
.brief__city-nane {
  position: absolute;
  left: 2.556rem;
  top: 6.5rem;
  font-size: 48px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.brief__city-nane:hover {
  color: #00ffa7;
}
@media only screen and (max-width: 1024px) {
  .brief__city-nane {
    left: 0.9rem;
    top: 71px;
    font-size: 24px;
  }
  .is_vr .brief__city-nane {
    display: none;
  }
}
.brief__arrow {
  padding: 6px 12px 6px 8px;
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  font-weight: 500;
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.5);
  border-radius: 6px;
  z-index: 301;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.brief__arrow:hover {
  color: hsla(0, 0%, 100%, 0.8);
}
.brief__arrow:hover .arrow__icon {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.brief__arrow_left {
  max-width: 133px;
  bottom: 54px;
  left: 2.706rem;
}
@media only screen and (max-width: 1024px) {
  .brief__arrow_left {
    max-width: 115px;
    bottom: 141px;
    left: 8px;
    font-size: 14px;
  }
}
.brief__arrow_right {
  position: static;
}
@media only screen and (max-width: 1024px) {
  .brief__arrow_right {
    max-width: 157px;
    position: relative;
    font-size: 14px;
    margin-right: 8px;
  }
}
.brief-360_thing .brief__arrow-mobile {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #000;
  opacity: 0.8;
  border-radius: 6px;
  z-index: 301;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.brief-360_thing .brief__arrow-mobile--left {
  left: 8px;
}
.brief-360_thing .brief__arrow-mobile--right {
  right: 8px;
}
.brief-360_thing .brief__arrow-mobile--right svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media only screen and (min-width: 1025px) {
  .brief-360_thing .brief__arrow-mobile {
    display: none;
  }
}
.brief-360_thing iframe {
  position: fixed;
  width: 100%;
  height: 110%;
  top: -34px;
  bottom: 12px;
}
@media only screen and (max-width: 1024px) {
  .brief-360_thing .brief__arrow {
    display: none;
  }
}
.arrow__icon {
  opacity: 0.5;
  fill: #fff;
  position: relative;
  top: 2px;
}
.arrow__icon_left {
  margin-right: 5px;
}
.arrow__icon_right {
  margin-left: 5px;
}
.arrow__icon_right svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media only screen and (max-width: 1024px) {
  .arrow__icon_right {
    right: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.user {
  position: absolute;
  bottom: 54px;
  right: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 1025px) {
  .user__wrap {
    width: 262px;
  }
}
.is_vr .user__wrap {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0;
    bottom: 13px;
    z-index: 300;
    width: 100%;
  }
}
.user__top {
  background-color: #fff;
  padding: 16px 8px 8px;
  min-width: 246px;
  border-radius: 10px;
  opacity: 0.89;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1024px) {
  .user__top {
    padding: 8px;
    opacity: 0.96;
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media only screen and (max-width: 1024px) {
  .user__top-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.user__top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 8px;
}
@media only screen and (max-width: 1024px) {
  .user__top-wrap {
    margin-bottom: 0;
    padding: 0;
  }
}
.user__pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin-right: 8px;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .user__pic {
    width: 40px;
    height: 40px;
  }
}
.user__title {
  opacity: 0.58;
  font-weight: 900;
}
.user__name,
.user__title {
  color: #000;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}
.user__name {
  opacity: 0.96;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.user__name:hover {
  opacity: 0.67;
}
.user__button {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.user__button.active {
  cursor: default;
}
.user__button.active:active,
.user__button.active:hover {
  background-color: #00ffa7;
}
@media only screen and (max-width: 1024px) {
  .user__button {
    width: auto;
  }
}
.user__button-icon {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 6px;
}
.user__button-counter,
.user__button-text {
  display: inline-block;
  font-size: 14px;
}
.user__button-counter {
  padding: 0 10px;
  min-width: 48px;
  line-height: 44px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #00cb71;
  min-width: 50px;
}
.user__wr {
  display: inline-block;
  padding: 0 0 0 16px;
  min-width: 175px;
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  .user__wr {
    min-width: 96px;
  }
}
.user__wrapper {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 32px;
}
@media only screen and (max-width: 1024px) {
  .user__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 0;
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 1025px) {
  .user__bottom--thing {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .user__bottom--panorama {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 8px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .user__bottom--panorama a {
    width: calc(50% - 16px);
  }
}
@media only screen and (max-width: 640px) {
  .user__bottom--panorama a {
    width: calc(53% - 16px);
  }
}
@media only screen and (max-width: 359px) {
  .user__bottom--panorama a {
    min-width: 145px;
  }
}
.user__bottom-btn {
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.89;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.user__bottom-btn:hover {
  background-color: #ebebeb;
  opacity: 0.9;
}
@media only screen and (max-width: 1024px) {
  .user__bottom-btn {
    margin-left: 8px;
    margin-right: 8px;
  }
}
.user__bottom-btn svg {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.user__bottom-btn span {
  display: inline-block;
  margin-top: 3px;
}
@media only screen and (max-width: 1024px) {
  .user__bottom-panorama-btn {
    margin: 0;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media only screen and (max-width: 359px) {
  .user__bottom-panorama-btn {
    min-width: 145px;
  }
}
.user__bottom-vr-btn {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .user__bottom-vr-btn {
    width: calc(50% - 16px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .is_vr_tutor .user__bottom-vr-btn {
    opacity: 0;
  }
  .is_vr .user__bottom-vr-btn {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .user__bottom-vr-btn {
    width: calc(53% - 16px);
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.user__bottom-vr-btn svg {
  position: static;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  display: block;
}
@media only screen and (max-width: 359px) {
  .user__bottom-vr-btn span {
    width: 81%;
  }
}
.user__pediction {
  background-color: #fff;
  padding-top: 16px;
  border-radius: 10px;
  opacity: 0.89;
  margin-bottom: 8px;
  color: #000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
  .user__pediction {
    display: none;
  }
}
.user__pediction-title {
  padding: 0 16px;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 8px;
}
.user__pediction-body {
  font-size: 14px;
  padding: 0 16px;
  font-weight: 500;
  line-height: 1.57;
  max-height: 130px;
  overflow: hidden;
}
.user__pediction-btn {
  margin-top: 16px;
  padding: 16px;
  font-size: 14px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.user__pediction-btn:hover {
  background-color: #ebebeb;
  opacity: 0.9;
}
.user__pediction-btn svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.user__artwork-controll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 12px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.96;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  width: 100%;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.user__artwork-controll__left svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.user__artwork-controll__right svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media only screen and (max-width: 1024px) {
  .footer {
    display: none;
  }
}
.scroll-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 72px;
  pointer-events: none;
  display: none;
}
@media only screen and (max-width: 1024px) {
  .scroll-icon {
    display: block;
  }
}
.brief__panorama-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .brief__panorama-wrap {
    overflow: auto;
  }
}
.brief__pic {
  height: 100%;
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media only screen and (max-width: 1024px) {
  .brief__pic {
    width: auto;
  }
}
.background_artwork .transition-wrapper {
  display: none;
}
.background_artwork .brief__panorama-wrap ~ .brief__city-nane,
.background_artwork .brief__panorama-wrap ~ .brief__preloder,
.background_artwork .brief__panorama-wrap ~ .scroll-icon,
.background_artwork .brief__panorama-wrap ~ .timeline-new,
.background_artwork .brief__panorama-wrap ~ .transition__preloader {
  z-index: 400;
}
@media only screen and (max-width: 1024px) {
  .is_vr .timeline-new {
    display: none;
  }
}
.vr-tutor {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .vr-tutor {
    padding: 24px 24px 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 9, 10, 0.7);
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 10000;
  }
  .vr-tutor.is-active {
    display: block;
  }
  .vr-tutor__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }
  .vr-tutor__head,
  .vr-tutor__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .vr-tutor__head {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .vr-tutor__close {
    cursor: pointer;
  }
  .vr-tutor__text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .vr-tutor__pic svg {
    display: block;
    margin: 0 auto;
  }
  .vr-tutor__button {
    background-color: #00ffa7;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 101px;
    height: 40px;
    text-align: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 20px;
  }
  .vr-tutor__button span {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.14;
  }
}
/*# sourceMappingURL=panorama.css.map*/
